button{
    margin-bottom: 50%;
    align-content: center;
}
.header{
	text-align: center;
	font-size: 50px;
	font-style: italic;
	font-family: serif;
	color: #333333;
	background-color: #f1f1f1;
	border-style: solid;
	border-bottom-width: 3px;
	border-color: #f1f1f1;
	border-bottom-color: #dddddd;
	position: fixed;
	width: 100%;
}

.button{
	width: 500px;
	margin: auto;
}

.buttontext{
	margin: 0;
	padding: 0;
	font-size: 30px;
}

.table, .th, .td {
  border: 1px solid black;
}

.links { text-align: left; }

.headerspace{
	height: 150px;
}
